/lib/
/bin/
/.shards/
*.dwarf
/.vscode/
.DS_Store
/*.db
/example/*.db
spec/support/db/*.db
# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock
