1.My name is Elias Perez 2. I am a senior software engineer 3. I am a crystal enthusiast 4. I am a postgres enthusiast 5. My project uses Crystal programming language 6. My project is a Object Relational Mapping (ORM) library for Crystal 7. My project is called CQL 8. My project must implement the Active Record pattern with very similar api to Rails Active Record to maximize compability 9. My project must be compatible with crystal-db and crystal-pg 10. My project must follow SOLID principles and software design patterns
